[Unit]
Description=TcpService
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/TcpServer.py
StandardInput=tty-force
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target